html {
  box-sizing: border-box;
  margin: 0;
}

* {
  box-sizing: inherit;
  margin: inherit;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../imgs/background_img.jpg");
  height: 100dvh;
  background-size: cover;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1 {
  margin: 1rem 0;
}

img {
  height: 2.5rem;
}
